/*********************************************
             Call Bootstrap
*********************************************/
/* 
@import url("bootstrap/bootstrap.min.css");
@import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"); */

/*********************************************
              Theme Elements
*********************************************/

.gold{
	color: #FFBF00;
  }
  
  @font-face {
	font-family: 'NanumBarunGothic';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
	}
  
	/* 산하추가- nav에 씀 */
	*{
	padding :0;
	margin:0;
	text-decoration: none;
	list-style: none;
	font-family: "NanumBarunGothic", sans-serif;
	
	}
	.col-peo{
	color: black;
	font-size: 150%;
	
	}
	
	
	nav div div a img{
	width: 25%;
	
	}
	.menu{
	margin-top: 0%;
	
	}
	
	div .menu{
	margin-top:10%;
	
	}
	nav{
	/* 메뉴고정 해제 */
	/* position: fixed;  */
	left: 0; top: 0%; 
	width: 100%; 
	
	background-color: #ffffff;
	z-index: 999;
	
	}
	.asd{
	  font-size: 16px;
	}
	.hh{
	font-size: 20px !important;
	}
	nav div{
	display: flex; 
	position: relative;
	width: 1200px; 
	margin: 0 auto;
	
	}
	nav div a{
	flex: 1;
	display: block;
	bottom: 5%;
	height: 50px;
	line-height: 40px;
	text-align:center;
	color: #000;
	}
	
	nav div a:hover {
	text-decoration: none;
	color: #000;
	}
	
	nav div a.on{
	color: #ed1c24;
	}
	
	nav div > span{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 3px;
	background-color: #ed1c24;
	opacity:0;
	transition: all .5s;
	
	}
	
	
	nav div a:nth-child(1).on ~ span {left :70px; opacity:1;}
	nav div a:nth-child(2).on ~ span {left :310px; opacity:1;}
	nav div a:nth-child(3).on ~ span {left :550px; opacity:1;}
	nav div a:nth-child(4).on ~ span {left :790px; opacity:1;}
	nav div a:nth-child(5).on ~ span {left :1030px; opacity:1;}
  
  
   /* footer */
  
  .ttile {
	font-weight: bold;
	}
	
	a:link {
	color: black;
	text-decoration: none;
	}
	
	a:visited {
	color: black;
	text-decoration: none;
	}
	
	a:hover {
	color: black;
	}
  
  /*********************************************
			 PRODUCTS
  *********************************************/
  
  .product{
	border: 1px solid #dddddd;
	height: 321px;
  }
  
  .product>img{
	max-width: 230px;
  }
  
  .product-rating{
	font-size: 20px;
	margin-bottom: 25px;
  }
  
  .product-title{
	font-size: 20px;
  }
  
  .product-desc{
	font-size: 14px;
  }
  
  .product-price{
	font-size: 22px;
  }
  
  .product-stock{
	color: #74DF00;
	font-size: 20px;
	margin-top: 10px;
  }
  
  .product-info{
	   margin-top: 50px;
  }
  
  /*********************************************
			 VIEW
  *********************************************/
  
  .content-wrapper {
	max-width: 1140px;
	background: #fff;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 10px;
	border: 0px;
	border-radius: 0px;
  }
  
  .container-fluid{
	max-width: 1140px;
	margin: 0 auto;
  }
  
  .view-wrapper {
	float: right;
	max-width: 70%;
	margin-top: 25px;
  }
  
  .container {
	padding-left: 0px;
	padding-right: 0px;
	max-width: 100%;
  }
  
  /*********************************************
		   ITEM 
  *********************************************/
  
  .service1-items {
	padding: 0px 0 0px 0;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	height: 321px;
	width: 130px;
  }
  
  .service1-item {
	height: 107px;
	width: 120px;
	/* display: block; */
	float: left;
	position: relative;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
  }
  
  .service1-item > img {
	max-height: 110px;
	max-width: 110px;
	opacity: 0.6;
	transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
  }
  
  .service1-item > img:hover {
	cursor: pointer;
	opacity: 1;
  }
  
  .service-image-left {
	padding-right: 50px;
  }
  
  .service-image-right {
	padding-left: 50px;
  }
  
  .service-image-left > center > img,.service-image-right > center > img{
	max-height: 155px;
  }
  
	.test2{
	 background-color: #42d680;
	}
	.test3{
	 background-color: #df6db9;
	}
	.myclass1{
	 width: 1000px;
	}
	.dis{
	   display: flex;
	}
	
	.selected { border:2px solid #f86f6f; }
	#setName{
	  border:solid  #ed1c24 2px;
	}
  
  
	/*플로팅*/
  #homeup {
	margin-left: 15%;
	display: block;
	background-image: url(./images/arrow-up.png);
	background-repeat: no-repeat;
	}
	
	#homeup:hover {
	opacity: 0.4;
	}
	
	#homedown {
	margin-left: 15%;
	display: block;
	width: 37px;
	height: 30px;
	background-image: url(./images/arrow-down.png);
	background-repeat: no-repeat;
	}
	
	#homedown:hover {
	opacity: 0.4;
	}
	
	
	.float_z {
	z-index: -100000;
	}
	
	.float_lotte{
	z-index: -100000;
	margin-right: 0;
	margin-left: -70%;
	margin-top: 1%;
	width: 40%;
	height: 40%;
	}
	.remove_line{
	z-index: -100000;
	margin: 0;
	padding: 0;
	}
	.zzim_img{
	  float:left; margin-right:20px;margin-top:20px;clear:both;
	}
	.zzim{
	  /*background-color:rgb(182, 182, 182);*/
	  border-radius:25px;
	}
  