<!DOCTYPE html>
{% load static %} 
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제작 부분 구현</title>
    <link rel="stylesheet" type="text/css" href="css/make.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'css/make.css' %}">
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script language="javascript">
            // search 버튼
            function showPopup() { window.open("{% url 'make_search' %}", "a", "width=1000px, height=700px, left=500, top=100"); }
            function allowDrop(ev){
                ev.preventDefault();
            }

            // 선물 포장 클릭 이벤트
            $(document).ready(function () {
                $(".pozang>img").each(function () {
                    $(this).click(function () {
                        $(this).addClass("selected");                      //클릭된 부분을 상단에 정의된 CCS인 selected클래스로 적용
                        var price = $(this).attr("alt");
                        $('.item_price5').text(price+"원");
                        $('.item_name5').text("포장비");
                        $(this).siblings().removeClass("selected");  //siblings:형제요소들,    removeClass:선택된 클래스의 특성을 없앰
                    });
                });
            });
            
            
           
             function onDragStart(event) {
                event
                  .dataTransfer
                  .setData('text/plain', event.target.id);
              
                event
                  .currentTarget
                  .style
                  .backgroundColor = 'yellow';

                console.log("드롭시작");
              }
            
              function onDragOver(event) {
                event.preventDefault();
                console.log("드롭중");
              }

              // 드롭하고 놓을 때 가격 표시됨
              function onDrop(event) {
                const id = event
                  .dataTransfer
                  .getData('text');
              
                const draggableElement = document.getElementById(id);
                const dropzone = event.target;
              
                dropzone.appendChild(draggableElement);

                const price = draggableElement.alt;
                const name = draggableElement.name;
                const array = draggableElement.id;
                
                event
                  .dataTransfer
                  .clearData();

                  console.log("드롭끝");
                  console.log(id);
                  console.log(price);

                  //$('.item_price'+id).text(price+"원");
                  //$('.item_name'+id).text(name);
                 alert(document.getElementsByName("asdf").innerText);
                  document.getElementsByName("asdf").innerText="ddd";

                  draggableElement.style.height = 148+'px'
                  draggableElement.style.width = 187+'px'
              }
            
              // 이전, 다음 단계 버튼
            function test(num){
                    if(num=='1')
                    document.getElementById("step2").click();
                    if(num=='2')
                    document.getElementById("step3").click();
                    if(num=='-1')
                    document.getElementById("step1").click();
                    if(num=='-2')
                    document.getElementById("step2").click();
            
            }

            // 문구 작성하면 가격 표시
            $(function() {
            $('.text_message').keyup(function (e){
                var content = $(this).val();
                if (content.length > 0){
                    $('.item_price6').text(2000+"원");
                    $('.item_name6').text("문구 작성");
                }else{
                    $('.item_price6').text("");
                    $('.item_name6').text("");
                }
            });
            });

            // 세트 이름 입력하고 + 버튼 누르면 결제창에 뜨게
            $(document).ready(function () {
                $('.setnameBtn').on('click', function () {
                    var setname = $('#setName').val();
                    $('.item_price0').text("빈값");
                    $('.item_name0').text(setname);
                    return false;
    
                });
            });
            
                
        </script>
        <!-- 메세지 글자수 제한 -->
        <script>
            function numberMaxLength(e){
                if(e.value.length > e.maxLength){
                    e.value = e.value.slice(0, e.maxLength);
                }
            }
        </script>

        <style>
            /* 3단계 메세지쓰기 */
            .text_message::placeholder {
                color: white;
                font-style: italic;
            }
            .text_message{
                margin-left: 20%; 
                width:60%; 
                margin-top:5%; 
                border-top: 0px;
                border-left: 0;
                border-right: 0; 
                background-color: #ed1c24; 
                color:white;
                border-color: white;

            }
            input:focus {outline:none;}
        </style>
</head>

<body>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
     <!-- navbar 시작 -->
    <nav>
        <div>
            <a href="{% url 'home' %}">

                <img style="margin-top: 3%;width: 6%;"
                    src="https://blog.lotte.co.kr/wp-content/themes/lotte_v2/assets/images/ci.png">
            </a>

        </div>

        <div>
            <div class="menu">
                <a href="{% url 'home' %}"><span>홈</span></a>
                <a href="{% url 'search' %}"><span>상품보기</span></a>
                <a href="{% url 'make' %}" class="on"><span>상품만들기</span></a>
                <a href="{% url 'rank' %}"><span>랭킹</span></a>

                <a href="{% url 'login' %}"><span class="fas fa-user-circle col-peo"></span></a>
                <span></span>
            </div>
        </div>

    </nav>

    <script>
        $(document).ready(function () {
            $('nav a').on('click', function () {
                $(this).addClass('on');
                $(this).siblings().removeClass('on');

            });

        });
    </script>

    <!-- navbar 끝 -->

    <!-- 플로팅 메뉴 시작 -->
    <table id="floating_menu float_z" style="position:fixed; z-index: 99999; margin:0%;">
        <!-- 위로가기버튼 -->
        <tr>
            <td>
                <a id="homeup" href="#top"><top style="font-size:150% ;color:black" class="fas fa-sort-up"></top></a>
            </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align: center; z-index: -1000;">
                <div style="border-radius: 15px; padding: 10px;">
                    <!-- 롯데 온으로 가기 -->
                    <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/lotteon?mall_no=1"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000229/486/P0A7759E97EEB015030F5C6C80277F0F2D37597497B074297A62520BB4D4A49E9/file"></a>
                        
                    </div>

                    <!-- 롯데 백화점으로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=2"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000229/487/PC9B8D41A26131DF35177223C161EB5D837FB6AFDB859B1D1D35678386B53C2CA/file"></a>
                        
                    </div> -->

                    <!-- 롯데 마트로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=3"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000229/488/P38A9CA50ECA3DD85E78A5587B20663C321F2BE29D79091D3DCF4317BE028F49D/file"></a>
                        
                    </div> -->

                    <!-- 롭스로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=4"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000229/489/P426647A9381D41504ABC2E25FF84E900CF15165A20F4317500946DF10A3A9751/file"></a>
                        
                    </div> -->

                    <!-- 토이저러스로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=5"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000229/20088/P389D750F4D22E62452D8DA1B46A8551F89CB87EE9A6F15C1212E4F00DA81A229/file"></a>
                        
                    </div> -->

                    <!-- 롯데프레쉬로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=6"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000236/4289/P8A0D3D2E6B755FDEEA2FF650943EF4BC4E4DA6E857DEF34A6D56357092BE9068/file"></a>
                        
                    </div> -->
                    
                    <!-- 롯데면세점으로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=7"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000236/2216/PA39A33FF41DB12AF313AEDAB849844D4959623DE0A8FAE352C8233FEEBDC6780/file"></a>
                        
                    </div> -->

                    <!-- 롯데홈쇼핑으로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=8"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000230/484/PD84550FE9D50EAF4728A0A0B1225E208A8C7E0AB66AF3B8D26026911BBD5660C/file"></a>
                        
                    </div> -->

                    <!-- 롯데하이마트로 가기 -->
                    <!-- <div class="remove_line">
                        <a href="https://www.lotteon.com/p/display/main/ellotte?mall_no=9"><img class="float_lotte" src="https://contents.lotteon.com/display/dshoplnk/13096/35/C000230/485/PB81D5F1443BCAEEC153BDE6B3C93506E0842B8B039243EB3CC916D8FD14516C2/file"></a>
                        
                    </div> -->



                    <div>
                    <!-- Talk Talk Banner Script start -->
                    <!-- <script type="text/javascript" src="https://partner.talk.naver.com/banners/script"></script>
                    <div class="talk_banner_div" data-id="87285" style=" margin-top: 20%;"></div> -->
                    <!-- Talk Talk Banner Script end -->
                    </div>
                </div>
            </td>
        </tr>
        <!-- 아래로가기버튼 -->
        <tr>
            <td>
                <a id="homedown" href="#footer"><down style="font-size:150% ; color:black" class="fas fa-caret-down"></down></a>
            </td>
        </tr>
    </table>

    <!-- 플로팅 메뉴 끝 -->

    <!-- <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div> -->


    <div class="container-fluid">
        <div class="col-md-12 product-info ">
            <ul id="myTab" class="nav nav-tabs nav_tabs d-flex justify-content-end">

                <li class="active"><a href="#service-one" data-toggle="tab" id="step1">step1</a></li>
                <li><a href="#service-two" data-toggle="tab" id="step2">step2</a></li>
                <li><a href="#service-three" data-toggle="tab" id="step3">step3</a></li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="container">

                </div>
                <div class="tab-pane fade in active" id="service-one">
                    <div class="container">
                        <br>
                        <form>
                            <div class="form-group">
                                <p class= "ml-4 pl-2">
                                   
                                    <input class="mr-2" id = "setName" placeholder= "세트 이름" style="font-size:15px; ">
                                    <a href="" class="setnameBtn"><i class="fas fa-plus fa-xl fa-border"></i><!--<img src = "{% static 'img/plus.png' %}" style="width:25px;height:25px;">--></a>
                                </p>
                                
                            </div>
                        </form>
                        <div class="row d-flex justify-content-center">
                            <div class="container test col-8 ">
                                <h5 style="font-weight: bold;">상품 선택(찜 목록에서 드래그)</h5>
                                <hr style="width: 200px; margin-top:0px;">
                                <div class="container">
                                    <div class="row">
                                        <div ondragover='onDragOver(event);' ondrop='onDrop(event);' style="color:rgb(252, 167, 167) ;border:dashed; height:150px;"class="col-2 m-2 pl-0" id ="div1">

                                        </div>
                                        <div ondragover='onDragOver(event);' ondrop='onDrop(event);' style="color:rgb(252, 167, 167);border:dashed; height:150px;"class="col-2 m-2 pl-0" id ="div2">
    
                                        </div>
                                        <div ondragover='onDragOver(event);' ondrop='onDrop(event);' style="color:rgb(252, 167, 167);border:dashed; height:150px;"class="col-2 m-2 pl-0" id ="div3">
    
                                        </div>
                                        <div ondragover='onDragOver(event);' ondrop='onDrop(event);' style="color:rgb(252, 167, 167);border:dashed; height:150px;"class="col-2 m-2 pl-0" id ="div4">
    
                                        </div>
                                        
                                    </div>
                                    
                                    
                                </div>
                                
        
                            </div>
                            
                            <div class="container test1 col-3">
                                <h5 style="font-weight: bold;">현재의 가격정보</h5>
                                <hr style="width: 200px; margin-top:0px;">
                                <div class="row" style="">
                                    <div class="col-7 mt-4">
                                        <!--class="item_name"+{{i}} (0,5,6은 제외)-->
                                        {%for i in itemss%}
                                            <p id ="dd{{i.2}}" name="asdf">{{i.1}}</p>
                                        {%endfor%}

                                        <p class="item_name0"></p> 
                                        <p class="item_name1"></p> 
                                        <p class="item_name2"></p> 
                                        <p class="item_name3"></p> 
                                        <p class="item_name4"></p>
                                        <p class="item_name5"></p>  
                                        <p class="item_name6"></p>
                                    </div>
                                    <div class="col-5 mt-4">
                                        <p class="item_price0" style="visibility: hidden;"></p> 
                                        <p class="item_price1"></p> 
                                        <p class="item_price2"></p> 
                                        <p class="item_price3"></p> 
                                        <p class="item_price4"></p> 
                                        <p class="item_price5"></p>
                                        <p class="item_price6"></p>
                                    </div>    
                                </div>
                                <div class="button mr-5" style="text-align: right;">
                                    <input style="outline:none" type="button" class="btn btn-outline-danger" onclick="test('1')" value="Next step">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <div class="container">
                        
                        <div class="row d-flex justify-content-center pt-5">
                            
                            <div class="container test col-8 ">
                                <h5 style="font-weight: bold;">포장박스 선택</h5>
                                <hr style="width: 200px; margin-top:0px;">
                                <div class="pozang">
                                    <img src = "http://127.0.0.1:8000/static/img/pozangBox.png" id = "pozang1" style="width:200px;height:200px;" class = "mb-2" alt="2000">
                                    <img src = "http://127.0.0.1:8000/static/img/pozangBox2.png" id = "pozang2" style="width:200px;height:200px;" class = "mb-2" alt="2000">
                                    <img src = "http://127.0.0.1:8000/static/img/pozangBox3.png" id = "pozang3" style="width:200px;height:200px" class = "mb-2" alt="2000">
                                    <img src = "http://127.0.0.1:8000/static/img/pozangBox4.png" id = "pozang4" style="width:200px;height:200px" alt="3000">
                                    <img src = "http://127.0.0.1:8000/static/img/pozangBox5.png" id = "pozang5" style="width:200px;height:200px" alt="3000">
                                    <img src = "http://127.0.0.1:8000/static/img/pozangBox6.png" id = "pozang6" style="width:200px;height:200px"alt="3000">
                                </div>
                                
                               

                            </div>
                            <div class="container test1 col-3">
                                <h5 style="font-weight: bold;">현재의 가격정보</h5>
                                <hr style="width: 200px; margin-top:0px;">
                                <div class="row" style="">
                                    <div class="col-7 mt-4">
                                        <!--class="item_name"+{{i}} (0,5,6은 제외)-->
                                        <p class="item_name0"></p> 
                                        <p class="item_name1"></p> 
                                        <p class="item_name2"></p> 
                                        <p class="item_name3"></p> 
                                        <p class="item_name4"></p>
                                        <p class="item_name5"></p>  
                                        <p class="item_name6"></p>
                                    </div>
                                    <div class="col-5 mt-4">
                                        <p class="item_price0" style="visibility: hidden;"></p> 
                                        <p class="item_price1"></p> 
                                        <p class="item_price2"></p> 
                                        <p class="item_price3"></p> 
                                        <p class="item_price4"></p> 
                                        <p class="item_price5"></p>
                                        <p class="item_price6"></p>
                                    </div>    
                                </div>
                                <div class="button mr-5" style="text-align: right;">
                                    <input style="outline:none" type="button" class="btn btn-outline-danger" onclick="test('-1')" value="Previous step">
                                    <input style="outline:none" type="button" class="btn btn-outline-danger" onclick="test('2')" value="Next step">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <div class="container">
                        <br>
                        <div class="row d-flex justify-content-center">
                            <div class="container test col-8 ">
                                <h5 style="font-weight: bold;">나만의 문구 삽입</h5>
                                <hr style="width: 200px; margin-top:0px;">
                                <div style="background-color: #ed1c24; height: 100%; width:70%; margin-left:110px;">
                                    <p><img style="margin-left: 40%;" class="logo" src="https://blog.lotte.co.kr/wp-content/themes/lotte_v2/assets/images/ci.png"></p>
                                    <p style="COLOR:WHITE; font-weight: bolder;margin-left:35%">Your Life Friend, LOTTE</p>
                                    <p style="margin-left: 20%; color:white; margin-top: 5%;">TO.<input maxlength="6" oninput="numberMaxLength(this);"style="margin-left: 1%;width: 25%;" class="text_message" id="text_message_to"></p>
                                    <p><input maxlength="15" oninput="numberMaxLength(this);" class="text_message" placeholder="ex)즐거운 추석^*^"></p>
                                    <p><input maxlength="15" oninput="numberMaxLength(this);" class="text_message"></p>
                                    <p><input maxlength="15" oninput="numberMaxLength(this);" class="text_message"></p>
                                    <p><input maxlength="15" oninput="numberMaxLength(this);" class="text_message"></p>
                                    <p><input maxlength="15" oninput="numberMaxLength(this);" class="text_message"></p>
                                    <p style="margin-left: 55%; color:white">FROM.<input maxlength="6" oninput="numberMaxLength(this);" style="margin-left: 1%;width: 40%;" class="text_message" id="text_message_from"></p>
                                </div>
                            </div>
                            <div class="container test1 col-3">
                                <h5 style="font-weight: bold;">현재의 가격정보</h5>
                                <hr style="width: 200px; margin-top:0px;">
                                <div class="row" style="">
                                    <div class="col-7 mt-4">
                                        <!--class="item_name"+{{i}} (0,5,6은 제외)-->
                                        <p class="item_name0"></p>
                                        <p class="item_name1"></p> 
                                        <p class="item_name2"></p> 
                                        <p class="item_name3"></p> 
                                        <p class="item_name4"></p>
                                        <p class="item_name5"></p>  
                                        <p class="item_name6"></p>
                                    </div>
                                    <div class="col-5 mt-4">
                                        <p class="item_price0" style="visibility: hidden;"></p> 
                                        <p class="item_price1"></p> 
                                        <p class="item_price2"></p> 
                                        <p class="item_price3"></p> 
                                        <p class="item_price4"></p> 
                                        <p class="item_price5"></p>
                                        <p class="item_price6"></p>
                                    </div>    
                                </div>
                                <div class="button mr-5" style="text-align: right;">
                                    <input type="button" style="outline:none" class="btn btn-outline-danger" onclick="test('-2')" value="Previous step">
                                    <a href="{% url 'pay' %}" onclick="window.open(this.href, '_blank', 'width=500px,height=500px,toolbars=no,scrollbars=no'); return false;"><input type="button" style="outline:none" class="btn btn-outline-danger" value="결제"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top:10%">
            <div class="zzim" style="height:210px;background-color:rgba(0, 0, 0, 0.1);">
                <div class="zzim_title pt-2">
                    <i class="far fa-heart ml-4" style="color: red;"></i> 찜목록
                </div>
                <div class="zzim_content mt-5" style="text-align: center;">
                    <!-- id="{{id}}" name="{{"아이템 이름"}}" alt="{{가격}}"-->
                    <!-- <img id ="1" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim1 mr-5"src = "http://127.0.0.1:8000/static/img/prod1.png" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="아이템1" alt="9650">
                    <img id ="2" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim2 mr-5 " src = "http://127.0.0.1:8000/static/img/prod2.png" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="아이템2" alt="9980">
                    <img id ="3" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim3 mr-5 " src = "http://127.0.0.1:8000/static/img/prod3.png" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="아이템3" alt="5000">
                    <img id ="4" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim4 mr-5" src = "http://127.0.0.1:8000/static/img/gift_set1_2.png" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="아이템4" alt="90000">
                    <img id ="5" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim4 mr-5" src = "http://127.0.0.1:8000/static/img/prod4.png" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="아이템5" alt="39900">
                    <img id ="6" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim4 mr-5" src = "http://127.0.0.1:8000/static/img/gift_set.jpg" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="아이템6" alt="15000"> -->
                    {%for i in itemss %}
                        <img id ="{{i.0}}" ondragstart='onDragStart(event);' draggable="true" ondrop='onDrop(event);' class="zzim4 mr-5" src = "{{i.0}}" style="width: 100px;height:100px" draggable="true" ondragstart="drag(event)" name="{{i.1}}" alt="{{i.2}} " value="asd">
                    {%endfor %}
                </div>
                
                
            </div>
            <br>
            <div class="container d-flex justify-content-end test1 m-0 p-0">     
                <a onclick="showPopup();">
                    <p class="mt-3 mr-3" style="float:left;">상품더보기</p>
                    <i class="fas fa-search-plus" style="color:red;font-size:40px;float:left"></i>
                </a>
            </div>
            
                    
                
            
        </div>
    </div>
   
    <!-- footer -->

<footer id="footer" class="container py-5 asd" style="float: left; margin-left: 5%; margin-top: 50%">
    <hr style="width: 100%;margin-left: 0%;">
    <div class="row">
        <div class="col-12 col-md">
            <img src="https://blog.lotte.co.kr/wp-content/themes/lotte_v2/assets/images/ci.png" style="width: 30px;height: 30px;">
            <small class="d-block mb-3 text-muted">&copy; 1967~2020</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="hh">Social Media</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted font_size" href="https://www.facebook.com/lotte"><face class="fab fa-facebook-square"></face></a></li>
                <li><a class="text-muted font_size" href="https://www.youtube.com/user/LOTTELIVE"><tube class="fab fa-youtube"></tube></a></li>
                <li><a class="text-muted font_size" href="http://blog.lotte.co.kr/">BLOG</a></li>
               
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="hh">COMPANY</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=2">롯데백화점</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=3">롯데마트</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=4">롭스</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=5">토이저러스</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=6">롯데프레시</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=7">롯데면세점</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=8">롯데홈쇼핑</a></li>
                <li><a class="text-muted font_size" href="https://www.lotteon.com/p/display/main/ellotte?mall_no=9">롯데하이마트</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="hh">Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted font_size" href="#">Business</a></li>
                <li><a class="text-muted font_size" href="#">Education</a></li>
                <li><a class="text-muted font_size" href="#">Government</a></li>
                <li><a class="text-muted font_size" href="#">Gaming</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="hh">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted font_size" href="#">Team</a></li>
                <li><a class="text-muted font_size" href="#">Locations</a></li>
                <li><a class="text-muted font_size" href="#">Privacy</a></li>
                <li><a class="text-muted font_size" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>